<!DOCTYPE html>
<html>
<head>
    <title>Titanic EDA Visualization</title>
</head>
<body style="text-align:center; font-family:sans-serif;">
    <h1>Titanic Data Visualizations</h1>
    <h3>Survival Count</h3>
    <img src="/static/visualizations/survival_count.png" width="500">
    <h3>Age Distribution</h3>
    <img src="/static/visualizations/age_distribution.png" width="500">
    <h3>Passenger Class vs Survival</h3>
    <img src="/static/visualizations/class_vs_survival.png" width="500">
</body>
</html>
